---
const {
  title,
  slug,
  contentType,
  excerpt,
  tags,
  author,
  publishedAt,
  featuredImage,
  labels,
  series,
  category,
} = Astro.props;
// console.log("Collection Default Item Props:", Astro.props);

const collectionName = labels?.singular.replace(/\s+/g, "").toLowerCase();
const url = `/${collectionName}/${slug}`;
---

<!-- href={`/${contentType}/${slug}`}
  aria-label={url} -->
<li
  class="group break-inside-avoid-column mb-4 no-underline font-semibold hover:text-primary-600 block px-3 rounded-md text-base lg:text-sm xl:text-base py-4"
>
  <div class="relative overflow-hidden rounded-lg">
    {/* Image */}
    {
      featuredImage && featuredImage.url && (
        <div class="relative overflow-hidden">
          <img
            id={`masonry-img-${slug}`}
            src={featuredImage?.url}
            alt={featuredImage.ref || title}
            class="object-cover w-full transition-transform duration-300 group-hover:scale-105 pixelate"
            loading="lazy"
            onLoad={`
              if(window.gsap){
                gsap.to('#masonry-img-${slug}', { filter: 'none', duration: 1.2, ease: 'power2.out' });
              } else {
                this.style.filter = 'none';
              }
            `}
          />
        </div>
      )
    }

    {/* Content */}

    <div class="py-4">
      {
        !series && category && category?.title && (
          <a
            href={`/category/${category.slug}`}
            class="font-semibold text-xs pr-2 px-2-x py-1 my-1  no-underline bg-primary-100-x text-primary-800 rounded"
          >
            {category?.title}
          </a>
        )
      }

      {/* Title */}
      <a href={url} aria-label={title} class="no-underline">
        <h3
          class="text-md font-semibold mb-2 line-clamp-3 text-primary-500 dark:text-primary-400 group-hover:text-primary-600 transition-colors"
        >
          {title}
        </h3>
      </a>

      {/* Excerpt */}
      <a href={url} aria-label={title} class="no-underline">
        <p class="text-sm text-gray-600 line-clamp-3-x mb-3 font-normal">
          {excerpt}
        </p>
      </a>

      {
        series && series?.title && (
          <a
            href={`/series/${series.slug}`}
            class="font-semibold text-xs pr-2 px-2 py-1 my-1  no-underline bg-accent-100 text-accent-800 rounded"
          >
            {series?.title}
          </a>
        )
      }

      {/* Tags */}
      <div class="flex flex-wrap gap-2 mb-3 pt-1">
        {
          tags?.map((tag) => (
            <a
              href={`/tag/${tag.slug}`}
              class="font-semibold text-xs pr-2 px-2 py-1 my-1  no-underline bg-secondary-100 text-secondary-800 rounded"
            >
              {tag?.title}
            </a>
          ))
        }
      </div>

      {/* Meta */}
      <!-- <div class="flex items-center gap-3 text-xs text-gray-500">
        <span>{author?.name}</span>
        <span>•</span>
        <time>{new Date(publishedAt).toLocaleDateString()}</time>
      </div> -->
    </div>
  </div>
</li>
