---
const { title, slug, url, blockType, contentType, excerpt } = Astro.props;
console.log("Collection Default Item Props:", Astro.props);
---

<a
  href={`/${contentType}/${slug}`}
  aria-label={url}
  class="group break-inside-avoid mb-4 no-underline font-semibold hover:text-primary-600 block px-3 rounded-md text-base lg:text-sm xl:text-base py-4"
>
  {title}
  <span class="block text-xs line-clamp-3-x pt-1 text-gray-500">{excerpt}</span>
</a>
