---
import LockIcon from "../../../../assets/lock-icon.astro";

const {
  title,
  slug,
  blockType,
  contentType,
  excerpt,
  labels,
  authors,
  visibility,
} = Astro.props;

console.log("Catalog Default Item Props:", Astro.props);

const collectionName = labels?.singular.replace(/\s+/g, "").toLowerCase();
const url = `/${collectionName}/${slug}`;

// const author = authors && authors[0];
---

<a
  href={url}
  aria-label={title || url}
  class="group break-inside-avoid mb-4 no-underline font-semibold hover:text-primary-600 block px-3 rounded-md text-base lg:text-md xl:text-base py-4"
>
  <span class="block flex items-center gap-2">
    {title}
    {
      visibility && visibility === "restricted" && (
        <span class="uppercase text-xs font-bold text-accent-600 flex items-center">
          <LockIcon />
        </span>
      )
    }
  </span>

  <span class="block text-base line-clamp-3-x pt-1 text-gray-500">
    {excerpt}
  </span>

  <!-- {
    visibility && visibility === "restricted" && (
      <p class="mt-2 uppercase text-sm leading-normal font-bold  text-accent-600">
        {visibility}
      </p>
    )
  } -->
</a>
