---
import SectionTitle from "../../section-title.astro";

const { records } = Astro.props;
---

<!-- {JSON.stringify(records, null, 2)} -->
<section class="relative w-full max-w-7xl mx-auto lg:pb-24">
  <SectionTitle {...Astro.props} />

  <div class="py-4 px-2 lg:px-0">
    <ol
      class="grid grid-cols-3 gap-4 lg:grid-cols-4 sm:grid-cols-2"
      role="list"
    >
      {
        records?.map((record) => (
          <>
            {" "}
            <a
              href={`/${record?.contentType}/${record?.slug}`}
              title={record?.title}
              aria-label={record?.url}
              class="no-underline"
            >
              {record?.title}
            </a>
          </>
        ))
      }
    </ol>
  </div>
</section>
